@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
  url(../fonts/ptsansbold.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans.woff2) format("woff2"),
  url(../fonts/ptsans.woff) format("woff");
body {
  background: #eeeeee;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform:uppercase;
}
a {
  text-decoration:none;
}
img{
  max-width:100%;
}
