@mixin icon($width: 32px, $height:38px){
  content:"";
  position:absolute;
  background-size:cover;
  fill:$grey-blue;
  width:$width;
  height:$height;
}
@mixin trangle($width: 333px){
  content:"";
  position:absolute;
  background-size:cover;
  left:-7px;
  top:-26px;
  width:$width;
  height:26px;
  background-repeat:no-repeat;
}
@mixin input($width:100%){
    width:$width;
  color:black;
  padding-left:21px;
  height:58px;
  border:none;
  background-color:#f2f2f2;
  flex-grow:1;
}
@mixin btn-contition(){
  &:hover{
    background-color:#669ec0;
  }
  &:active{
    background-color:#5496bd;
    color:rgba(255,255,255, 0.3);
  }
}
@mixin form-title-decor($top:0, $left:0, $width:125px){
  content:"";
  position:absolute;
  width:$width;
  height:1px;
  background-color:#dbdbdb;
  top: $top;
  left:$left;
}
