@mixin icon($width: 32px, $height:38px){
  content:"";
  position:absolute;
  background-size:cover;
  fill:$grey-blue;
  width:$width;
  height:$height;
}
@mixin trangle($width: 333px){
    content:"";
  position:absolute;
  background-size:cover;
  left:-7px;
  top:-26px;
  width:$width;
  height:26px;
  background-repeat:no-repeat;
}
