.main-nav{
text-align:center;}
.main-nav__link{
font-size:18px;
line-height:40px;
color:white;
display:block;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
border-top: 1px solid rgba(255, 255, 255, 0.3);
padding:7px 0;
text-transform:uppercase;
}
