.intro{
  background-color:#ffffff;
  text-align:center;
}
.intro__title{
  font-size:17px;
  line-height:26px;
  padding:0 20px;
  margin:0
}
.intro__text{
  font-size:14px;
  padding:0 20px;
  margin:0
}
