.map{
  background:#ffffff;
  padding:30px 20px;
  text-align:center;
}
.map__title{
  font-size:21px;
}
.map__photo{
  background-image: url(/img/bg-map-mobile@1x.jpg);
  height:350px;
  margin:0 -20px;
}
