.form{
  background-color:#ffffff;
  padding:0 20px;
}
.form__title{
  margin:0;
  text-align:center;
  font-size:18px;
}
.form__wrapper{
  display:flex;
  flex-wrap:wrap;
}
.form__presentation-label{
  font-size:14px;
}
