.btn{
  background-color:$grey-blue;
  display:block;
  box-sizing:border-box;
  font-size:21px;
  line-height:26px;
  color:#ffffff;
  font-weight:700;
  padding:16px;
  border:none;
  margin-bottom:50px;
  font-family:"PT Sans", Arial, sans-serif;
  text-transform:uppercase;
  outline:none;
  @include btn-condition();
  &:disabled{
    background-color:#e5e5e5;
  }
  &--form{
    border:none;
    cursor:pointer;
    margin-bottom:0;
    width:100%;
  }
  &--map{
    display:inline-block;
    width:100%;
  }
}
@media(min-width:$tablet-width){
  .btn--map{
    display:inline-block;
    margin-bottom:58px;
    padding:16px 133px 16px;
    width:auto;
  }
  .btn--form{
    width:324px;
  }
}
@media(min-width:$desktop-width){
  .btn--map{
    margin-bottom:65px;
  }
  .btn--form{
    width:480px;
  }
}
.btn--popup.btn--success{
  border:0;
  margin:0 auto;
  border:none;
  outline:none;
  width:280px;
  height:60px;
}
.btn--popup.btn--error{
  border:0;
  margin:0 auto 35px;
  border:none;
  outline:none;
  width:180px;
  height:60px;
}
@media (min-width:$tablet-width){
	.btn--popup.btn--success{
    width:460px;
  }
  .btn--popup.btn--error{
    border:0;
    margin:0 auto 35px;
    width:270px;
    height:55px;
  }
}
@media(min-width:$desktop-width){
  .btn--popup.btn--error{
    border:0;
    margin:0 auto 35px;
    width:270px;
    height:55px;
  }
  .btn--popup.btn--success{
    width:460px;
  }
}
