.form form{
  background-color:#ffffff;
  @media (min-width: $tablet-width){
    display:flex;
    flex-wrap:wrap;
    padding:0 60px;
  }
  @media (min-width: $desktop-width){
    padding:0 120px 5px;
  }
}
.form__group{
  border-bottom: 1px solid #e5e5e5;
  &.form__group--effect{
    padding-bottom:25px;
  }
  &--submit{
    margin:0 20px;
    border-bottom:none;
    padding: 30px 0 65px;
  }
  &--feelings{
    border-bottom:none;
  }
}
.form__title{
  margin:0;
  text-align:center;
  font-size:18px;
  padding:15px 20px 0;
  line-height: 26px;
}
.form__wrapper{
  display:flex;
  flex-wrap:wrap;
  margin:21px 0;
  padding:0 20px;
  align-items:center;
  position:relative;
  justify-content: space-between;
  &.form__wrapper--fio{
    flex-wrap:nowrap;
  }
  &--contact{
    margin-bottom:23px;
  }
  &.form__wrapper--effect, &--sight{
    justify-content: flex-start;
    margin-top: 41px;
    margin-left: 80px;
    margin-right:0;
    text-transform:none;
  }
}
.form__presentation-label{
  font-size:14px;
  color:$text-color;
}
input[placeholder], textarea[placeholder]{
  color:black;
  font-size:18px;
  line-height:26px;
  font-weight:700;
  font-family: "PT Sans", Arial, sans-serif;
}
.form__presentation-field{
  width:60%;
  color:black;
  margin-left:14px;
  padding-left:21px;
  height:58px;
  border:none;
  background-color:#f2f2f2;
  flex-grow:1;
}
.form__contacts-label{
  font-size:14px;
  color:$text-color;
  line-height:26px;
  padding:0 20px 8px;
  &.form__contacts-label--email{
    margin-top: -11px;
  }
}
.form__contacts-field{
  @include input;
}
.form__icon{
  position:absolute;
  right:24px;
  top:24px;
  width:58px;
  height:58px;
  background-color:#e6e6e6;
  &--tel{
    right: 20px;
    top: 35px;
    background-image: url(../img/icon-phone.svg);
    background-position:50%;
    background-repeat:no-repeat;
  }
  &--email{
    right: 20px;
    background-image: url(../img/icon-mail.svg);
    background-position:50%;
    background-repeat:no-repeat;
  }
}
@media (min-width: $tablet-width){
  .form__icon--tel, .form__icon--email{
    right:0;
  }
}
@media (min-width: $desktop-width){
  .form__icon--tel, .form__icon--email{
    top:1px;
  }
}
.form__effect-field{
  display:none;
}
.form__effect-label, .form__sight-label{
  position:relative;
  font-size:18px;
  line-height:26px;
  }
.form__sight-label{
  margin:-7px 0 20px;
}
input +.form__effect-label::before{
  content:"";
  position:absolute;
  width:56px;
  height:56px;
  background-color:#f2f2f2;
  border-radius:50%;
  top: -16px;
  left: -79px;
}
input:checked +.form__effect-label::before{
    background-image: radial-gradient(circle, #333333 9px,
                      rgba(255, 255, 255, 0) 9px);
}
.form__sight-field{
  display:none;
}
input +.form__sight-label::before{
  content:"";
  position:absolute;
  width:56px;
  height:56px;
  background-color:#f2f2f2;
  top: -16px;
  left: -79px;
  border-radius:3px;
}
input:checked +.form__sight-label::before{
  background-image: url(../img/icon-tick.svg);
  background-position:50%;
  background-repeat:no-repeat;
}
.form__feelings-field{
  padding: 17px 0 22px 20px;
  margin:20px 20px 20px;
  resize:none;
  color:black;
  height:160px;
  border:none;
  background-color:#f2f2f2;
  width:280px;
  font-size:17px;
  font-weight:bold;
  box-sizing: border-box;
}
.form__required{
  display:none;
  @media(min-width: $tablet-width){
    display:block;
    align-self: center;
    font-size:14px;
    color:$text-color;
  }
}
@media (min-width: $tablet-width){
  .form__group{
    border-bottom:none;
  }
  .form__group--fio{
    flex-basis:265px;
    order:2;
    margin-left:auto;
  }
  .form__group--effect{
    flex-basis:50%;
    order:1;
    position:relative;
    &::after{
      content:"";
      width:1px;
      height:293px;
      position:absolute;
      background-color:#e5e5e5;
      top: 25px;
      left: 323px;
    }
  }
  .form__group--contacts{
    order:3;
    margin-top:23px;
    flex-basis:100%;
  }
    .form__title{
    font-size:21px;
    padding:15px 0 20px;
    text-align:left;
    &--feelings{
      text-align:center;
      position:relative;
      &::before{
        @include form-title-decor(27px);
      }
      &::after{
        @include form-title-decor(27px, 648px-125px);
      }
    }
    &--sight{
      text-align:center;
      padding:20px 150px;
      position:relative;
      &::before{
        @include form-title-decor(46px);
      }
      &::after{
        @include form-title-decor(46px, 648px-125px);
      }
    }
    &--contacts{
    text-align:center;
    position:relative;
      &::before{
        @include form-title-decor(28px);
      }
      &::after{
        @include form-title-decor(28px, 648px-125px);
      }
    }
  }
  .form__group--sight{
    order:4;
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
  }
  .form__group--feelings{
    order:5;
    flex-basis:100%;
    margin-top: 50px;
  }
  .form__group--submit{
    order:6;
    display:flex;
    width:100%;
    justify-content:space-between;
    margin:0;
    padding-bottom:60px;
  }
  .form__wrapper{
    padding:0;
    &.form__wrapper--effect{
      margin-top:53px;
    }
    &.form__wrapper--fio:first-of-type{
      margin-top:34px;
    }
    &--contact{
      margin-top:5px;
      margin-bottom:30px;
    }
    &--sight{
      flex-basis: 150px;
      margin: 46px 0 0 110px;
      &:nth-child(2){
        order:1;
      }
      &:nth-child(3){
        order:3;
      }
      &:nth-child(4){
        order:2;
      }
      &:nth-child(5){
        order:4;
      }
    }
  }
  .form__feelings-field{
    width:100%;
    margin:0;
    margin-top: 35px;
    margin-bottom: 30px;
  }
}
@media (min-width: $desktop-width){
  .form__title{
    padding:0 0 20px;
    &--effect{
      margin-left:75px;      
    }
    &--sight{
      padding: 20px 280px;
      &::before{
        @include form-title-decor(47px, 0, 280px);
      }
      &::after{
        @include form-title-decor(47px, 960px-280px, 280px);
      }
    }
    &--contacts{
      width:100%;
      &::before{
        @include form-title-decor(14px, 0, 280px);
      }
      &::after{
        @include form-title-decor(14px, 960px-280px, 280px);
      }
    }
    &--feelings{
      &::before{
        @include form-title-decor(12px, 0, 280px);
      }
      &::after{
        @include form-title-decor(12px, 960px-280px, 280px);
      }
    }
  }
  .form__group--fio{
    flex-basis:400px;
  }
  .form__group--contacts{
    margin-top: 35px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  .form__group--sight{
    justify-content:flex-start;
  }
  .form__contacts-field{
    width:auto;
    margin-left: 15px;
  }
  .label__invisible{
    display:none;
  }
  .form__wrapper--contact{
    flex-basis:400px;
    margin-top: 55px;
    &:nth-of-type(2){
      flex-basis:480px;
    }
  }
  .form__group--effect{
    &::after{
      content:"";
      width:1px;
      height:293px;
      position:absolute;
      background-color:#e5e5e5;
      top: 6px;
      left: 480px;
    }
  }
  .form__wrapper--sight{
    margin-top:45px;
    margin-bottom: 12px;
    &:nth-child(2){
      margin-right: 90px;
margin-left: 80px;
    }
    &:nth-child(3){
      margin-right: 20px;
      margin-left: 88px;
    }
    &:nth-child(4){
      margin-right:20px;
      margin-left:20px;
    }
    &:nth-child(5){
      margin-right: -30px;
      margin-left: 70px;
    }
  }
  .form__contacts-label{
    padding:0;
  }
  .form__contacts-label.form__contacts-label--email{
    margin-top:-4px;
  }
}
