.intro{
  position:relative;
  background-color:#ffffff;
  text-align:center;
  padding:40px 20px 50px;
  &.intro--photo {
    padding: 35px 25px 30px;
  }
  &.intro--form {
    padding: 35px 0 15px;
    border: 1px solid #e5e5e5;
  }
  &::before{
    @include trangle();
    background-image: url(../img/bg-intro-triangle-mobile.svg);
    }
  }
@media (min-width: $tablet-width){
  .intro{
    &::before{
      background-image: url(../img/bg-triangle.svg);
    }
  }
}
  
  
.intro__title{
  font-size:18px;
  line-height:26px;
  padding:0 5px;
  margin:0;
  font-weight:700;
    @media (min-width: $tablet-width){
      font-size:30px;
      &--front{
        font-size:21px;
        padding:5px 60px;
      }
    }
}
.intro__text{
  font-size:14px;
  padding:29px 0 0;
  margin:0;
  line-height:24px;
  color:$text-color;
}

