.main-nav{
text-align:center;
position:relative;
@media (min-width: $tablet-width){
  display:flex;
  background:#ffffff;
}
}

.main-nav__link{
  font-size:18px;
  font-weight:700;
  line-height:40px;
  color:white;
  display:block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding:7px 0;
  text-transform:uppercase; 
  @media (min-width: $tablet-width){
    background-color:#ffffff;
    color:black;
  }
  &:nth-child(2){
  border-top:none;} 
  &:last-child{
  border-bottom:none;
}
}
.main-nav__close{
  position:absolute;
  background-image: url(../img/icon-cross.svg);
  width:23px;
  height:22px;
  right:20px;
  top:17px;
}
