.menu-toggle{
  background-color:transparent;
  border:none;
  background-image: url(../img/icon-menu.svg);
  background-repeat:no-repeat;
  width:23px;
  height:23px;
  margin-right:20px;
  margin-top:17px;
  @media (min-width: $tablet-width){
    display:none;
  }
}
