.page-footer{
  background-color:#ffffff;
  padding:10px 20px;
  text-align:center;
  margin-bottom:10px;
  @media (min-width: $tablet-width){
    display:flex;
    justify-content:space-around;
    align-items:center;
    
  }
}
.page-footer__hashtag{
  color:black;
  font-size:21px;
  line-height:26px;
  font-weight:700;
}
