.page-footer{
  background-color:#ffffff;
  padding:10px 20px;
  text-align:center;
  @media (min-width: $tablet-width){
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:36px 60px;
    text-align:left;
  }
}
.page-footer__hashtag{
  color:black;
  font-size:21px;
  line-height:26px;
  font-weight:700;
  flex-basis:33%;
  @media (min-width: $tablet-width){
    padding-right:20px;
  }
}
