.reason{
  list-style:none; 
  @media (min-width: $tablet-width){
  display:flex;
  flex-wrap:wrap;
  width:100%
}
}
.reason__about{
  text-align:center;
  &--bg-triangle{
  background-color:$grey-blue;
  color:#ffffff;
  }
  @media (min-width: $tablet-width){
    flex-basis:256px;
  }
  }
.reason__photo{
  display:block;
}
.reason__title{
  padding:38px 20px 0; 
  font-size:18px;
  margin:0;
}
.reason--bg-grey .reason__title{
  padding:28px 20px 0;
}
.reason__number{
  font-size:14px;
}
.reason__text{
  font-size:14px;
  margin-bottom:0px;
  padding:0px 0px 45px;
  margin:0 20px 0;
  line-height:21px;
  &--bord-bot{
    border-bottom: 1px solid #d6d6d6;
  }
}
.reason--bg-grey  .reason__text{
  padding:4px 15px 30px;
}

  .reason--bg-grey {
    @media (min-width: $tablet-width){
    flex-basis:33%;
  }
  }
