.top-row{
  height:56px;
  background-color:#ffffff;
  box-shadow: 0px -4px 5px -5px rgba(0, 0, 0, 0.6);
  display:flex;
  justify-content:space-between;
  @media (min-width: $tablet-width){
    height:0;
  }
}
.top-row__logo{
  margin-left:auto;
  margin-right:20%;
  z-index:10;
  @media (min-width: $tablet-width){
    margin-right:auto;
    margin-top:-56px;
  }
}
@media (min-width: $desktop-width){
  .top-row__logo img{
    width: 188px;
    height: 96px;
  }
}
