.video{
  background-color:#ffffff;
  padding:25px 20px 130px;
  text-align:center;
}
@media (min-width: $tablet-width){
  .video{
    padding: 70px 20px 36px;
  }
}
@media (min-width: $desktop-width){
  .video{
    padding: 63px 20px 77px;
  }
}
.video__title{
  margin:0;
  font-size:18px;
  line-height:26px;
}
@media (min-width: $tablet-width){
  .video__title{
    font-size:30px;
  }
}
.video__text{
  font-size:14px;
  line-height:24px;
  padding:14px 10px;
  color:$text-color;
}
@media (min-width: $tablet-width){
  .video__text{
    padding:14px 145px;
  }
}
@media (min-width: $desktop-width){
   .video__text{
    padding:14px 360px;
  }
}
.video__photo{
    margin:21px -20px -5px;
    position:relative;
}
@media (min-width: $tablet-width){
  .video__photo{
    margin: 62px -20px 0;
  }
}
.video__controls{
  position:absolute;
  width:280px;
  height:111px;
  bottom:-63px;
  left:20px;
}
@media (min-width: $tablet-width){
  .video__controls{
    box-sizing: border-box;
    padding: 0px 60px;
    left:0;
    width:100%;
    bottom:-15px;
  }
}
@media (min-width: $desktop-width){
  .video__controls{
    padding:0 200px;
  }
}
.video__controls-top{
  height:45px;
  background-color: rgba(0, 0, 0, 0.6);
}
@media (min-width: $tablet-width){
  .video__controls-top{
    height:92px;
  }
}
.video__controls-bottom{
  height:66px;
  background-color:#f2f2f2;
}
@media (min-width: $tablet-width){
  .video__controls-bottom{
    display:none;
  }
}
